@media screen and (min-width: 400px) {

    header {

    background-image: (url(./images/desktop/image-header.jpg));
    background-size: cover;
    min-height: 70vh;

    .hamburger {
        display: none;
    }
    .nav-bar {

        padding: 25px 50px;

        img {
            min-height: 2.5em;
        }

        .nav-links {
        display: flex;

        a {
            font-size: 1.50em;
            text-transform: capitalize;
            color: white;
            min-height: 3em;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1.75em;
            line-height: 1.5;
        }

        a:hover {
            background-color: white;
            min-width: 30%;
            border-radius: 30px;
            color: hsl(213, 9%, 39%);
            text-transform: uppercase;
          }
        
        
    }}

    .hero {

        .hero-heading {
            margin: 1.6em;
            font-size: 3.5em;
            word-spacing: unset;
            letter-spacing: 0.20em;
        }

    }

    
    }

    .transform-brand, .audience {
        flex-direction: row;
        min-height: 50vh;
        width: 100%;

        .brand-images {
            min-height: 100%;
            width: 50vw;
        }

        .transform-brand-text {
            width: 50vw;
            padding: 5em 6em 5em 9em;
            text-align: left;

            h2 {
                font-weight: 800;
                font-size: 2.5em;
                margin-bottom: 0;
             }

            p {
                margin-top: 0;
                line-height: 1.6em;
            } 
             
        }
    }

    .graphic-photography {
        flex-direction: row;
       
        .graphic-design {
            width: 50%;
            min-height: 50vh;
            background-image: url(/images/desktop/image-graphic-design.jpg);
        }

        .photography {
            background-image: url(/images/desktop/image-photography.jpg);
        }
}

    .client-testimonials {

     min-height: 65vh;

        .flex-box {
            display: flex;
            justify-content: center;

            .client {
                max-width: 30vw;

                blockquote {
                  margin: 2em;
                }
            }
        }

        h2 {
           padding-top: 8em;
        }
    }

    .picture-collage {
        flex-direction: row;
    }

    footer {

        .links {
            justify-content: center;

            a {
                margin: 1.5em;
            }
        }

        .social-media-links {
            justify-content: center;

            a {
                margin: 1em;
            }
        }
    }

}